  'bundle-browserify:#ECMASCRIPT#': '
    browserify
      ./dist/#ECMASCRIPT#/src/http/server-cli.js
      --no-builtins
      --no-commondir
      --ignore-missing
      --xxinsert-globals
      --insert-global-vars "xx__filename,xx__dirname"
      --no-browser-field
      --xxfull-paths
      --xxlist
      --xxdeps
      --debug
      --xxexclude mylib
      --xxexternal ./file.js
      --outfile
      ./dist/bundle-#ECMASCRIPT#/server-cli.inlinesourcemap.js
  '

  'bundle-exorcist:#ECMASCRIPT#': '
    cat ./dist/bundle-#ECMASCRIPT#/server-cli.inlinesourcemap.js |
    exorcist
      --root
      ../../
      ./dist/bundle-#ECMASCRIPT#/server-cli_.js.map >
      ./dist/bundle-#ECMASCRIPT#/server-cli_.js &&

    json -I -f ./dist/bundle-#ECMASCRIPT#/server-cli_.js.map -e "this.sourcesContent=false" &&

    rimraf ./dist/bundle-#ECMASCRIPT#/server-cli.inlinesourcemap.js
  '

  'bundle-sorcery:#ECMASCRIPT#': '
    sorcery
      --input
      ./dist/bundle-#ECMASCRIPT#/server-cli_.js
      --output
      ./dist/bundle-#ECMASCRIPT#/server-cli.js &&

    rimraf ./dist/bundle-#ECMASCRIPT#/server-cli_.js &&
    rimraf ./dist/bundle-#ECMASCRIPT#/server-cli_.js.map
  '

  'bundle-uglify:#ECMASCRIPT#': '
    cpy ./dist/bundle-#ECMASCRIPT#/server-cli.js.map ./dist/bundle-#ECMASCRIPT#/ --rename=server-cli-.js.map &&
    json -I -f ./dist/bundle-#ECMASCRIPT#/server-cli-.js.map -e "this.sourcesContent=false" &&

    terser
      ./dist/bundle-#ECMASCRIPT#/server-cli.js
      --output
      ./dist/bundle-#ECMASCRIPT#/server-cli.min.js
      --xxcompress
      --xxmangle
      --keep-classnames
      --keep-fnames
      --beautify
      "beautify=false,ecma=6,indent_level=0"
      --source-map
      "root=\'\',url=\'server-cli.min.js.map\',content=\'./dist/bundle-#ECMASCRIPT#/server-cli-.js.map\'" &&

      rimraf ./dist/bundle-#ECMASCRIPT#/server-cli-.js.map
  '

  'bundle:#ECMASCRIPT#': '
    echo "bundle skip."
  '

  'bundle:#ECMASCRIPT#_': '
    mkdirp ./dist/bundle-#ECMASCRIPT# &&
    npm run bundle-browserify:#ECMASCRIPT# &&
    npm run bundle-exorcist:#ECMASCRIPT# &&
    npm run bundle-sorcery:#ECMASCRIPT# &&
    npm run bundle-uglify:#ECMASCRIPT#
  '
