  'bundle:all': '
    npm run bundle:es5 &&
    npm run bundle:es6-es2015 &&
    npm run bundle:es7-es2016 &&
    npm run bundle:es8-es2017
  '

  'bundle-browserify:es5': '
    browserify
      ./dist/es5/src/http/server-cli.js
      --no-builtins
      --no-commondir
      --ignore-missing
      --xxinsert-globals
      --insert-global-vars "xx__filename,xx__dirname"
      --no-browser-field
      --xxfull-paths
      --xxlist
      --xxdeps
      --debug
      --xxexclude mylib
      --xxexternal ./file.js
      --outfile
      ./dist/bundle-es5/server-cli.inlinesourcemap.js
  '

  'bundle-exorcist:es5': '
    cat ./dist/bundle-es5/server-cli.inlinesourcemap.js |
    exorcist
      --root
      ../../
      ./dist/bundle-es5/server-cli_.js.map >
      ./dist/bundle-es5/server-cli_.js &&

    json -I -f ./dist/bundle-es5/server-cli_.js.map -e "this.sourcesContent=false" &&

    rimraf ./dist/bundle-es5/server-cli.inlinesourcemap.js
  '

  'bundle-sorcery:es5': '
    sorcery
      --input
      ./dist/bundle-es5/server-cli_.js
      --output
      ./dist/bundle-es5/server-cli.js &&

    rimraf ./dist/bundle-es5/server-cli_.js &&
    rimraf ./dist/bundle-es5/server-cli_.js.map
  '

  'bundle-uglify:es5': '
    cpy ./dist/bundle-es5/server-cli.js.map ./dist/bundle-es5/ --rename=server-cli-.js.map &&
    json -I -f ./dist/bundle-es5/server-cli-.js.map -e "this.sourcesContent=false" &&

    uglifyjs
      ./dist/bundle-es5/server-cli.js
      --output
      ./dist/bundle-es5/server-cli.min.js
      --xxcompress
      --xxmangle
      --keep-classnames
      --keep-fnames
      --beautify
      "beautify=false,preserve_line=false,indent_level=0"
      --source-map
      "root=\'\',url=\'server-cli.min.js.map\',content=\'./dist/bundle-es5/server-cli-.js.map\'" &&

      rimraf ./dist/bundle-es5/server-cli-.js.map
  '

  'bundle:es5': '
    echo "bundle skip."
  '

  'bundle:es5_': '
    mkdirp ./dist/bundle-es5 &&
    npm run bundle-browserify:es5 &&
    npm run bundle-exorcist:es5 &&
    npm run bundle-sorcery:es5 &&
    npm run bundle-uglify:es5
  '

  'bundle-browserify:es6-es2015': '
    browserify
      ./dist/es6-es2015/src/http/server-cli.js
      --no-builtins
      --no-commondir
      --ignore-missing
      --xxinsert-globals
      --insert-global-vars "xx__filename,xx__dirname"
      --no-browser-field
      --xxfull-paths
      --xxlist
      --xxdeps
      --debug
      --xxexclude mylib
      --xxexternal ./file.js
      --outfile
      ./dist/bundle-es6-es2015/server-cli.inlinesourcemap.js
  '

  'bundle-exorcist:es6-es2015': '
    cat ./dist/bundle-es6-es2015/server-cli.inlinesourcemap.js |
    exorcist
      --root
      ../../
      ./dist/bundle-es6-es2015/server-cli_.js.map >
      ./dist/bundle-es6-es2015/server-cli_.js &&

    json -I -f ./dist/bundle-es6-es2015/server-cli_.js.map -e "this.sourcesContent=false" &&

    rimraf ./dist/bundle-es6-es2015/server-cli.inlinesourcemap.js
  '

  'bundle-sorcery:es6-es2015': '
    sorcery
      --input
      ./dist/bundle-es6-es2015/server-cli_.js
      --output
      ./dist/bundle-es6-es2015/server-cli.js &&

    rimraf ./dist/bundle-es6-es2015/server-cli_.js &&
    rimraf ./dist/bundle-es6-es2015/server-cli_.js.map
  '

  'bundle-uglify:es6-es2015': '
    cpy ./dist/bundle-es6-es2015/server-cli.js.map ./dist/bundle-es6-es2015/ --rename=server-cli-.js.map &&
    json -I -f ./dist/bundle-es6-es2015/server-cli-.js.map -e "this.sourcesContent=false" &&

    uglifyjs
      ./dist/bundle-es6-es2015/server-cli.js
      --output
      ./dist/bundle-es6-es2015/server-cli.min.js
      --xxcompress
      --xxmangle
      --keep-classnames
      --keep-fnames
      --beautify
      "beautify=false,preserve_line=false,indent_level=0"
      --source-map
      "root=\'\',url=\'server-cli.min.js.map\',content=\'./dist/bundle-es6-es2015/server-cli-.js.map\'" &&

      rimraf ./dist/bundle-es6-es2015/server-cli-.js.map
  '

  'bundle:es6-es2015': '
    echo "bundle skip."
  '

  'bundle:es6-es2015_': '
    mkdirp ./dist/bundle-es6-es2015 &&
    npm run bundle-browserify:es6-es2015 &&
    npm run bundle-exorcist:es6-es2015 &&
    npm run bundle-sorcery:es6-es2015 &&
    npm run bundle-uglify:es6-es2015
  '

  'bundle-browserify:es7-es2016': '
    browserify
      ./dist/es7-es2016/src/http/server-cli.js
      --no-builtins
      --no-commondir
      --ignore-missing
      --xxinsert-globals
      --insert-global-vars "xx__filename,xx__dirname"
      --no-browser-field
      --xxfull-paths
      --xxlist
      --xxdeps
      --debug
      --xxexclude mylib
      --xxexternal ./file.js
      --outfile
      ./dist/bundle-es7-es2016/server-cli.inlinesourcemap.js
  '

  'bundle-exorcist:es7-es2016': '
    cat ./dist/bundle-es7-es2016/server-cli.inlinesourcemap.js |
    exorcist
      --root
      ../../
      ./dist/bundle-es7-es2016/server-cli_.js.map >
      ./dist/bundle-es7-es2016/server-cli_.js &&

    json -I -f ./dist/bundle-es7-es2016/server-cli_.js.map -e "this.sourcesContent=false" &&

    rimraf ./dist/bundle-es7-es2016/server-cli.inlinesourcemap.js
  '

  'bundle-sorcery:es7-es2016': '
    sorcery
      --input
      ./dist/bundle-es7-es2016/server-cli_.js
      --output
      ./dist/bundle-es7-es2016/server-cli.js &&

    rimraf ./dist/bundle-es7-es2016/server-cli_.js &&
    rimraf ./dist/bundle-es7-es2016/server-cli_.js.map
  '

  'bundle-uglify:es7-es2016': '
    cpy ./dist/bundle-es7-es2016/server-cli.js.map ./dist/bundle-es7-es2016/ --rename=server-cli-.js.map &&
    json -I -f ./dist/bundle-es7-es2016/server-cli-.js.map -e "this.sourcesContent=false" &&

    uglifyjs
      ./dist/bundle-es7-es2016/server-cli.js
      --output
      ./dist/bundle-es7-es2016/server-cli.min.js
      --xxcompress
      --xxmangle
      --keep-classnames
      --keep-fnames
      --beautify
      "beautify=false,preserve_line=false,indent_level=0"
      --source-map
      "root=\'\',url=\'server-cli.min.js.map\',content=\'./dist/bundle-es7-es2016/server-cli-.js.map\'" &&

      rimraf ./dist/bundle-es7-es2016/server-cli-.js.map
  '

  'bundle:es7-es2016': '
    echo "bundle skip."
  '

  'bundle:es7-es2016_': '
    mkdirp ./dist/bundle-es7-es2016 &&
    npm run bundle-browserify:es7-es2016 &&
    npm run bundle-exorcist:es7-es2016 &&
    npm run bundle-sorcery:es7-es2016 &&
    npm run bundle-uglify:es7-es2016
  '

  'bundle-browserify:es8-es2017': '
    browserify
      ./dist/es8-es2017/src/http/server-cli.js
      --no-builtins
      --no-commondir
      --ignore-missing
      --xxinsert-globals
      --insert-global-vars "xx__filename,xx__dirname"
      --no-browser-field
      --xxfull-paths
      --xxlist
      --xxdeps
      --debug
      --xxexclude mylib
      --xxexternal ./file.js
      --outfile
      ./dist/bundle-es8-es2017/server-cli.inlinesourcemap.js
  '

  'bundle-exorcist:es8-es2017': '
    cat ./dist/bundle-es8-es2017/server-cli.inlinesourcemap.js |
    exorcist
      --root
      ../../
      ./dist/bundle-es8-es2017/server-cli_.js.map >
      ./dist/bundle-es8-es2017/server-cli_.js &&

    json -I -f ./dist/bundle-es8-es2017/server-cli_.js.map -e "this.sourcesContent=false" &&

    rimraf ./dist/bundle-es8-es2017/server-cli.inlinesourcemap.js
  '

  'bundle-sorcery:es8-es2017': '
    sorcery
      --input
      ./dist/bundle-es8-es2017/server-cli_.js
      --output
      ./dist/bundle-es8-es2017/server-cli.js &&

    rimraf ./dist/bundle-es8-es2017/server-cli_.js &&
    rimraf ./dist/bundle-es8-es2017/server-cli_.js.map
  '

  'bundle-uglify:es8-es2017': '
    cpy ./dist/bundle-es8-es2017/server-cli.js.map ./dist/bundle-es8-es2017/ --rename=server-cli-.js.map &&
    json -I -f ./dist/bundle-es8-es2017/server-cli-.js.map -e "this.sourcesContent=false" &&

    uglifyjs
      ./dist/bundle-es8-es2017/server-cli.js
      --output
      ./dist/bundle-es8-es2017/server-cli.min.js
      --xxcompress
      --xxmangle
      --keep-classnames
      --keep-fnames
      --beautify
      "beautify=false,preserve_line=false,indent_level=0"
      --source-map
      "root=\'\',url=\'server-cli.min.js.map\',content=\'./dist/bundle-es8-es2017/server-cli-.js.map\'" &&

      rimraf ./dist/bundle-es8-es2017/server-cli-.js.map
  '

  'bundle:es8-es2017': '
    echo "bundle skip."
  '

  'bundle:es8-es2017_': '
    mkdirp ./dist/bundle-es8-es2017 &&
    npm run bundle-browserify:es8-es2017 &&
    npm run bundle-exorcist:es8-es2017 &&
    npm run bundle-sorcery:es8-es2017 &&
    npm run bundle-uglify:es8-es2017
  '
