@font-face {
  font-family: "AccessibleDfa";
  font-style: normal;
  font-weight: normal;
  src: local("AccessibleDfa"), url("./AccessibleDfA.otf") format("opentype");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./MaterialIcons-Regular.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
:root {
  --R2__specialDimension: 36px;
  --mdc-theme-primary: #0e4ead;
  --mdc-theme-secondary: #0051ff;
  overflow: hidden;
}
:root, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.mdc-dialog {
  z-index: 6; /* over mdc-temporary-drawer (5) */
}
/* .mdc-snackbar {
  z-index: 7;
} */
*:focus {
  outline-style: solid !important;
  outline-width: 2px !important;
  outline-color: var(--mdc-theme-primary, blue) !important;
  outline-offset: 0px !important;
}
*.no-focus-outline:focus {
  outline-style: none !important;
}
.mdc-switch__native-control:focus ~ .mdc-switch__background .mdc-switch__knob::before {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: -5px;
  left: -5px;
}
body.flex {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#pubTitle {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: var(--R2__specialDimension);
  line-height: var(--R2__specialDimension);
}
#reader_chrome, #reader_chrome_HIDE {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: var(--R2__specialDimension);
  bottom: 0px;
  background: white;
  /* border-top: 1px solid silver; */
  z-index: 1;
}
#reader_chrome_HIDE {
  display: none;
  z-index: 2;
}
#publication_viewport {
  display: block;
  position: absolute;
  left: var(--R2__specialDimension);
  right: var(--R2__specialDimension);
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: silver;
  overflow: hidden;
}
#sliding_viewport {
  display: block;
  position: absolute;
  left: 0;
  width: 200%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
}
#sliding_viewport.shiftedLeft {
  transformxxx: translateX(-50%);
  left: -100%;
}
#sliding_viewport.half {
  width: 100%;
}
#sliding_viewport.half.shiftedLeft {
  left: -50%;
}
#sliding_viewport.animated {
  transition: left 500ms ease-in-out;
}
webview {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
webview.full {
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 0;
  top: 0;
}
/* #webview1 {
  background: red;
}
#webview2 {
  background: blue;
} */
#webview1.posRight, #webview2.posRight {
  left: 50%;
}
#reader_controls {
  display: none;
  position: absolute;
  left: 0;
  right: 70%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  /* border: 1px solid black; */
}
form {
  margin: 0; padding: 0;
}
#lcpDialog .mdc-text-field__input {
  width: 50%;
}
#lcpDialog .mdc-form-field, #lcpDialog .mdc-text-field {
  width: 100%;
}
/* form#lcpPassForm {
  box-sizing: border-box;
  border: 3px solid black;
  background: silver;
  color: black;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50%;
  height: 25%;
} */
#drawerButton {
  box-sizing: border-box;
  display:block;
  position:absolute;
  top:0;
  left:0;
  margin: 0;
  padding: 0;
  width: var(--R2__specialDimension);
  height: var(--R2__specialDimension);
  min-width: var(--R2__specialDimension);
  min-height: var(--R2__specialDimension);
}
#drawerButton i {
  vertical-align: middle;
}
/* #showControlsButton {
  display:none;
}
#hideControlsButton {
  display:none;
  position:absolute;
  top:0;
  left:0;
} */
.sectionTAB {
  display: none;
}
/* #reader_controls_TOC {
  display: block;
} */
#buttonNavLeft, #buttonNavRight {
  display: block;
  position: absolute;
  top: 20%;
  bottom: 20%;
  margin: 0;
  padding: 0;
  width: var(--R2__specialDimension);
  height: auto;
  min-width: var(--R2__specialDimension);
  min-height: auto;
}
#buttonNavLeft {
  left: 0;
}
#buttonNavRight {
  right: 0;
}
#buttonNavLeft i, #buttonNavRight i {
  vertical-align: middle;
  font-size: 36px;
}
/* .mdc-simple-menu,
.mdc-simple-menu--animating,
.mdc-simple-menu--animating .mdc-simple-menu__items > *,
.mdc-list,
.mdc-list-item,
.mdc-list-item::before,
.mdc-select,
.mdc-select__selected-text {
  transition: all 0s ease 0s !important;
} */
.mdc-simple-menu--animating {
  overflow: hidden;
}
/* #nav-select */
.mdc-select {
  width: 100% !important;
}
#nav-select-menu.mdc-select__menu {
  width: 100% !important;
}
#fontSelect .mdc-select__menu {
  /* left: 0 !important; */
  width: 80%;
}
.mdc-select {
  background-position-x: 96%;
}
/* #nav-select-text */
.mdc-select__selected-text {
  padding-left: 1em;
}
#drawerNav {
  height: 100%;
}
#tabsPanels {
  height: 100%;
  overflow: hidden;
  borderxx: 2px solid red;
  box-sizing: border-box;
  display: inline-flex;
}
.tabPanel {
  display: none;

  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.tabPanel.active {
  display: block;
}
#reader_controls_ADVANCED, #reader_controls_TOOLS, #reader_controls_STYLES {
  padding: 1em;
}
#reader_controls_TOC a:focus {
  background-color: rgba(230, 230, 230, 1);
}



::-webkit-scrollbar-button {
  height: 0px !important;
  width: 0px !important;
}

::-webkit-scrollbar-corner {
  background: transparent !important;
}

/*::-webkit-scrollbar-track-piece {
  background-color: red;
} */

::-webkit-scrollbar {
  width:  14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: #727272;
  background-clip: padding-box !important;
  border: 3px solid transparent !important;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(40, 40, 40, 0.2);
  background: #dddddd;
  box-sizing: content-box;
}

::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid silver;
}
::-webkit-scrollbar-track:vertical {
  border-left: 1px solid silver;
}

.mdc-theme--dark ::-webkit-scrollbar-thumb {
  background: #a4a4a4;
  border: 3px solid #545454;
}

.mdc-theme--dark ::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}

.mdc-theme--dark ::-webkit-scrollbar-track {
  background: #545454;
}

.mdc-theme--dark ::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid black;
}
.mdc-theme--dark ::-webkit-scrollbar-track:vertical {
  border-left: 1px solid black;
}
#tabsPanels .mdc-list-item__text {
  max-width: 100%;
}
#tabsPanels .mdc-list-item__text__secondary {
  word-wrap: break-word;
}
#lineHeightSelector {
  margin-top: -22px;
}
#fontSizeSelector {
  margin-top: -22px;
}
#fontSelect .mdc-select__selected-text {
  padding-left: 6px;
}
#fontSelect .mdc-select__selected-text::before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  vertical-align: bottom;

  display: inline-block;
  position: relative;
  left: -6px;
  top: -3px;

  content: "\E245";
  /* format_size */
}

#nav-select-menu > ul {
  padding-top: 2px;
  padding-bottom: 2px;
}
#nav-select-menu > ul > li.mdc-list-item {
  padding-left: 46px;
}
#nav-select-menu > ul > li.mdc-list-item::after {

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  vertical-align: bottom;

  display: inline-block;
  position: absolute;
  left: 8px;
  top: 11px;
}
#selectTOC::after {
    content: "\E88A"; /* home */
}
#selectLandmarks::after {
    content: "\E55F"; /* place */
}
#selectPageList::after {
    content: "\E241"; /* format_list_bulleted */
}
#selectSpine::after {
    content: "\E260"; /* linear_scale */
}
#selectStyles::after {
    content: "\E8F4"; /* format_color_text */
}
#selectAdvanced::after {
    content: "\E8B8"; /* settings */
}

::selection {
  background-color: rgb(155, 179, 240) !important;
  color: black !important;
}

.mdc-theme--dark ::selection {
  background-color: rgb(100, 122, 177) !important;
  color: white !important;
}



.mdc-theme--dark {
  color: var(--mdc-theme-background, white);
}

.mdc-theme--dark,
.mdc-theme--dark #reader_chrome,
.mdc-theme--dark #reader_chrome_HIDE,
.mdc-theme--dark #publication_viewport,
.mdc-theme--dark #sliding_viewport,
.mdc-theme--dark .mdc-button:not(.mdc-button--raised),
.mdc-theme--dark #reader_controls_TOC a:focus {
  background-color: rgba(70, 70, 70, 1);
}
.mdc-theme--dark #reader_controls_TOC ul {
  border-left: 1px solid #000000;
}
.mdc-theme--dark #reader_controls_TOC a {
  border-left: 3px solid #303030;
}
.mdc-theme--dark #reader_controls_TOC a:hover {
  border-left: 3px solid var(--mdc-theme-secondary, orange);
}
.mdc-theme--dark #reader_controls_TOC a:hover > span,
.mdc-theme--dark #reader_controls_TOC a:hover > span > span {
  color: var(--mdc-theme-primary-light, blue);
}
.mdc-list-item {
  padding-left: 3px;
  border-left: 3px solid var(--mdc-theme-background, white);
}
.mdc-theme--dark .mdc-list-item {
  border-left: 3px solid #303030;
}
.mdc-list-item:hover {
  border-left: 3px solid var(--mdc-theme-secondary, magenta);
}
.mdc-list-item:hover > span,
.mdc-list-item:hover > span > span {
  color: var(--mdc-theme-primary, blue);
}
.mdc-theme--dark .mdc-list-item:hover > span,
.mdc-theme--dark .mdc-list-item:hover > span > span {
  color: var(--mdc-theme-primary-light, blue);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.loader {
  position: absolute;
  top: calc(50vh - 100px);
  left: calc(50vw - 50px);
  border-top: 8px solid silver;
  border-right: 8px solid silver;
  border-bottom: 8px solid silver;
  border-left: 8px solid black;
  transform: translateZ(0);
  animation: loadAnim 1.1s infinite linear;
}
@keyframes loadAnim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
