html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.debug body {
  background: silver;
}
body.flex {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#reader_chrome {
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0;
  padding: 0;
  background: white;
}
html.debug #reader_chrome {
  border: 3px solid orange;
  background: green;
}
#publication_viewport {
  display: block;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}
html.debug #publication_viewport {
  border: 6px solid magenta;
  background: blue;
}
#reader_controls {
  display: none;
  position: absolute;
  left: 0;
  right: 70%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  border: 1px solid black;
}
html.debug #reader_controls {
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}
webview {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
webview.singleFull {
  width: 100%;
  height: 100%;
  background: white;
}
html.debug webview {
  background: red;
}
#webview2 {
  width: 100%;
  height: 50px;
  background: white;
}
html.debug #webview2 {
  background: yellow;
  border: 2px solid black;
}
form {
  margin: 0; padding: 0;
}
/* form#lcpPassForm {
  box-sizing: border-box;
  border: 3px solid black;
  background: silver;
  color: black;
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50%;
  height: 25%;
} */
#showControlsButton {
  display:none;
}
#hideControlsButton {
  display:none;
  position:absolute;
  top:0;
  left:0;
}
.sectionTAB {
  display: none;
}
#reader_controls_TOC {
  display: block;
}
#buttonNavLeft, #buttonNavRight {
  display: block;
  position: absolute;
  top: 40%;
  bottom: 40%;
  width: 30px;
}
#buttonNavLeft {
  left: 0;
}
#buttonNavRight {
  right: 0;
}
